django
djangorestframework
selenium
psycopg2-binary
jdatetime
phonenumbers
django-phonenumber-field
django-environ
pygetwindow
fake-useragent
webdriver-manager
undetected-chromedriver
selenium-stealth
Pillow
numpy
scipy
pymongo
python-dotenv
