django
djangorestframework
selenium
psycopg2-binary
jdatetime
phonenumbers
django-phonenumber-field
django-environ
fake-useragent
webdriver-manager
undetected-chromedriver
selenium-stealth
Pillow
numpy
scipy
pymongo
python-dotenv
django-redis
concurrent-log-handler  # log in os level, so fastapi and django logd doesnt curropt each other
